
@font-face {
    font-family: "Appleberry";
    src: url("../fonts/appleberry.ttf");
}

@font-face {
    font-family: "Bublina";
    src: url("../fonts/Bublina-022.ttf");
}

body {
  margin-top: 60px;
}

/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
}

.navbar {
	border: 0px !important;
}

#navbar {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	margin-right: 60px;
}
#navbar li a {
	line-height: 30px;
}

#navbar li.active a {
	background-color: #2c4b68;
	color:#ffffff;
}

.navbar-brand {
	height: 60px;
	padding: 0px;
}

.header {
	background: url('../images/header.jpg');
	background-repeat: no-repeat;
	background-position: top;
	height: 540px;	
    cursor: pointer; 
    cursor: hand; 
}

.sobre_nos {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: lighter;
	font-size: 24px;
	text-align: center;
	margin-bottom: 60px;

}
.infografico {
    background: url('../images/infografico.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;

    height: 540px;
    cursor: pointer;
    cursor: hand;
}
.sobre_nos p {
	/*
	-moz-text-align-last: center;
  	text-align-last: center;
  	*/
}
.sobre_nos img {
	margin: 80px;
}

.inscricoes {
	background: url('../images/inscricoes.jpg');
	background-repeat: no-repeat;
	background-position: top;
	height: 600px;	
    cursor: pointer; 
    cursor: hand; 
}

.cursos {
    background: url('../images/saiba_mais_img.jpg');
    background-repeat: no-repeat;
    background-position: top;
    height: 1269px;
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: lighter;
	font-size: 16px;
	text-align: center;
	margin-bottom: 10px;
}

.cursos h2 {
    font-family: "Bublina";
    color: #ffffff;
    margin: 1.5em 0 1.5em 0;
    text-decoration: underline;
    font-size: 3em;
}

.cursos h3 {
    color: #ffffff;
    font-family: "Appleberry";
	text-align: center;
	text-transform: uppercase;
}

.cursos .row .detalhesAula {
    cursor: pointer;
}

.titulo_curso {
	text-align: center;
}

.titulo_curso img {
	margin: 80px;
}

.cursos button {
	background-color: #555555;
	color:#ffffff;
	border-radius: 0px;
	margin-bottom: 40px;
}

.cursos a {
	background-color: #555555;
	color:#ffffff;
	border-radius: 0px;
	margin-bottom: 40px;
}

.saiba_mais {
	background: url('../images/saiba_mais.jpg');
	background-repeat: no-repeat;
	background-position: top;
	height: 600px;	
    cursor: pointer; 
    cursor: hand; 
}

.apoio {
	background: url('../images/apoio.jpg');
	background-repeat: no-repeat;
	background-position: top;
	height: 540px;	

}

.rodape {
	background: url('../images/rodape.jpg');
	background-repeat: no-repeat;
	background-position: top;
	height: 60px;
    cursor: pointer; 
    cursor: hand; 
}

/** Hacks **/
.modal .modal-body {
    max-height: 420px;
    /*overflow-y: auto;*/
}