
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active"><a href="#horario" data-toggle="tab">Horário</a></li>
                    <li><a href="#conteudo" data-toggle="tab">Conteúdo</a></li>
                    <li><a href="#professor" data-toggle="tab">Professor</a></li>
                </ul>

                <div id="content">
                    <div id="my-tab-content" class="tab-content">
                        <div class="tab-pane active" id="horario">
                            <h1>Horário</h1>
                            <p>Aulas de Segunda-Feira e Quarta-Feira das 16:00 até as 18:30.</p>
                            <mark>(NOTA: CONFIRMAR COM ELE/MESMO HORARIO QUE ATUAL)</mark>
                        </div>
                        <div class="tab-pane" id="conteudo">
                            <h1>Conteúdo</h1>
                            <p>Curso de 80 horas de duração;</p>
                            <ul>
                                <li>Conceitos de design;</li>
                                <li>Ilustração em papel;</li>
                                <li>Adobe Photoshop;</li>
                                <li>Pintura Digital;</li>
                                <li>Tratamento de imagem;</li>
                                <li>Adobe Illustrator;</li>
                                <li>Vetorização;</li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="professor">
                            <h1>Professor</h1>
                            <img src="images/jonas_site.jpg">
                            <p><span style="font-size:20px">Jonas Ribeiro Alves</span>,
                                bacharel em <strong>Desenho Industrial</strong> pelo Mackenzie, pós-graduado pela Anhembi-Morumbi no curso de <strong>Cinema,
                                    Vídeo e Fotografia</strong>: Criação em Multimeios, trabalha na área de Design desde 2001. Foi designer da <strong>editora Saber</strong>,
                                criando projetos gráficos e capas. <strong>Diretor de Arte da Revista Cool Magazine</strong> por mais de 6 anos,
                                já fez trabalhos freelancer para <strong>Avaya, Hospital Albert Einstein, Revista Solví</strong>, entre outras empresas.
                                Já ministrou aulas de <strong>computação gráfica no SENAC</strong> e atualmente trabalha na área de Marketing da
                                Livraria da Vila e como Instrutor do SENAI de Informática.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
