<div class="modal-dialog">
    <div class="modal-content">
        <!--<div class="modal-header"></div>-->
        <div class="modal-body">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#horario" data-toggle="tab">Horário</a></li>
                <li><a href="#conteudo" data-toggle="tab">Conteúdo</a></li>
                <li><a href="#professor" data-toggle="tab">Professor</a></li>
            </ul>
            <div id="content">
                <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane active" id="horario">
                        <h1>Horário</h1>
                        Aulas de Segunda-Feira e Quarta-Feira das 19:00 até as 20:30.
                    </div>
                    <div class="tab-pane" id="conteudo">
                        <h1>Conteúdo</h1>
                        <p>Curso de 48 horas de duração (Parceria com o próprio FACEBOOK);</p>
                        <ul>
                            <li>Introdução ao Marketing Digital</li>
                            <li>Social Medias</li>
                            <li>Facebook como ferramenta</li>
                            <li>Facebook For Business</li>
                            <li>Planejamento e Gestão de conteúdo</li>
                            <li>Campanhas e anúncios</li>
                            <li>Ferramentas avançadas</li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="professor">
                        <h1>Professor</h1>
                        <img src="images/daniela_site.jpg">
                        <p>
                            Especialista em Marketing Digital,
                            <span style="font-size:20px">Daniela Harumi Yamasaki</span> atua a mais de 11 anos com
                            <strong> desenvolvimento web e campanhas de mídia</strong>. Com passagens em agências de
                            publicidade desenvolvendo projetos online para empresas como <strong>Samsung, Videolar,
                            Shopping Internacional, KPMG, BIC</strong> entre outras, hoje integra a equipe de negócios
                            digitais da <strong>Porto Seguro</strong> conduzindo estratégias de comunicação que
                            necessitam de profundo conhecimento em <strong>usabilidade, design,comunicação e search
                            engine optimization</strong>.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>