<div class="modal-dialog">
    <div class="modal-content">
        <!--<div class="modal-header"></div>-->
        <div class="modal-body">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#horario" data-toggle="tab">Horário</a></li>
                <li><a href="#conteudo" data-toggle="tab">Conteúdo</a></li>
                <li><a href="#professor" data-toggle="tab">Professor</a></li>
            </ul>
            <div id="content">
                <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane active" id="horario">
                        <h1>Horário</h1>
                        Aulas de Terça-Feira e Quinta-Feira das 14:00 até as 16:00.
                    </div>
                    <div class="tab-pane" id="conteudo">
                        <h1>Conteúdo</h1>
                        <p>Curso de 64 horas de duração</p>
                        <ul>
                            <li>Processo de desenvolvimento de jogos</li>
                            <li>Indústria, mercado e história de Games</li>
                            <li>Gamification e aplicação</li>
                            <li>Game Design avançado (teorias e práticas)</li>
                            <li>Prototipagem de jogos</li>
                            <li>Level Design</li>
                            <li>Game Balance e ferramentas de Game Design</li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="professor">
                        <h1>Professor</h1>
                        <img src="images/Thomas_avatar_tumb.jpg">
                        <p>
                        Thomas Semim Leme, Game Designer profissional com bacharel em Game Design e
                        Pós-graduação em Gestão de Projetos. Thomas conta com mais de 6 anos de experiência em
                        desenvolvimento de jogos profissionais no Brasil trabalhando em grandes empresas de Games
                        como Glu Mobile, BCFG, Oktagon Games e Dreams on Demand, atualmente trabalha produzindo
                        jogos para sua empresa Overtime Studios além de ser o consultor técnico para a CTC Digital.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>