<div class="modal-dialog">
    <div class="modal-content">
        <!--<div class="modal-header"></div>-->
        <div class="modal-body">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#horario" data-toggle="tab">Horário</a></li>
                <li><a href="#conteudo" data-toggle="tab">Conteúdo</a></li>
                <li><a href="#professor" data-toggle="tab">Professor</a></li>
            </ul>
            <div id="content">
                <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane active" id="horario">
                        <h1>Horário</h1>
                        Aulas de Terça-Feira e Quinta-Feira das 19:30 até as 21:00.
                    </div>
                    <div class="tab-pane" id="conteudo">
                        <h1>Conteúdo</h1>
                        <p>Curso de 48 horas de duração</p>
                        <ul>
                            <li>Word</li>
                            <li>Excel</li>
                            <li>Power Point</li>
                            <li>Trello</li>
                            <li>Google Drive</li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="professor">
                        <h1>Professor</h1>
                        <img src="images/andre_carvalho_site.jpg">
                        <p><span style="font-size:20px">André Carvalho</span>,
                            Produtor de <strong>jogos digitais e gestor de projetos</strong>, com 4 anos de experiência com <strong>produção de cinema,
                                video e eventos</strong> e 5 anos como gerente de projetos e produtor em jogos de video game.
                            Trabalhou em grandes empresas como <strong>Gameloft, Glu Mobile, Pixfly, Dreams On Demand</strong> e
                            atualmente trabalha na empresa <strong>Monstro como produtor de jogos mobile</strong>.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>