<div class="modal-dialog">
    <div class="modal-content">
        <!--<div class="modal-header"></div>-->
        <div class="modal-body">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#horario" data-toggle="tab">Horário</a></li>
                <li><a href="#conteudo" data-toggle="tab">Conteúdo</a></li>
                <li><a href="#professor" data-toggle="tab">Professor</a></li>
            </ul>
            <div id="content">
                <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane active" id="horario">
                        <h1>Horário</h1>
                        Aulas de Terça-Feira e Quinta-Feira das 19:30 até as 21:00.
                    </div>
                    <div class="tab-pane" id="conteudo">
                        <h1>Conteúdo</h1>
                        <p>Curso de 48 horas de duração</p>
                        <ul>
                            <li>Word</li>
                            <li>Excel</li>
                            <li>Power Point</li>
                            <li>Trello</li>
                            <li>Google Drive</li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="professor">
                        <h1>Professor</h1>
                        <img src="images/DouglasSiqueira.jpg">
                        <p>
                            <span style="font-size:20px">Douglas Siqueira</span>,
                            <strong>bacharel em Comunicação Social</strong> com habilitação em Midialogia pela Universidade Estadual de Campinas (UNICAMP).
                            <strong>Sócio-diretor da Superviver Produções Artísticas</strong>, onde trabalha com roteiro, direção e edição de curtas-metragens de ficção,
                            documentários e vídeos experimentais. <strong>Roteirista e diretor</strong> dos filmes <strong>"Tempestade!"</strong> (Prêmio Cabeçote 2008 da Associação Brasileira de Documentaristas)
                            e <strong>"Inquietude"</strong> (roteiro vencedor do concurso nacional Filma Brasil 2010). Atual diretor do programa sobre games <strong>"Inside Xbox Brasil" da Microsoft Corporation.</strong>
                            Professor do curso de Produção Audiovisual na Casa Taiguara de Cultura Digital desde 2011.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>